* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#step02 {
    display: none;
}
.reserve {
    background-image: url(../image/ssy_clean.jpg);
    background-repeat: repeat;
    min-height: 80vh;
    padding-bottom: 10vh;
}

.reserve_title {
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 5vh;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.reserve_div {
    background-color: white;
    width: 800px;
    height: auto;
    border-radius: 5px;
    margin: auto;
    padding: 30px;
}

.reserve_form {
    display: flex;
    padding: 11px;
}

.rf_detail {
    display: flex;
    background-color: lightskyblue;
    color: white;
    border-radius: 10px;
    width: 300px;
    height: 70px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.rf_subdetail {
    border: 1px solid grey;
    box-shadow: 1px 1px 1px lightgrey;
    border-radius: 10px;
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 1vh;
    margin-left: 1vh;
}

.rf_input {
    border: 1px solid grey;
    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 10px;
    width: 250px;
    height: 35px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.rf_input:focus{
    border: 5px solid lightsteelblue;
    outline: none;
}

.rf_question{
    width: 95%;
    resize: none;
}

.confirm_btn {
    border: 1px solid lightskyblue;
    background-color: lightskyblue;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 70px;
    margin: auto;
    cursor: pointer;
    margin-top: 25px;
}