main{
    display:flex;
    justify-content: center;
}
main .container{
    width:100%;
}
main .container .con_head{
    width:100%;
    border-bottom:1px solid black;
}
main .container .con_head ul{
    display:flex;
    justify-content: flex-end;
}
main .container .con_head li{
    width:min(10%, 180px);
    text-align:center;
}
main .container .con_head li:nth-child(2),li:nth-child(3):hover{
    cursor:pointer;
}
main .container .con_head li:nth-child(2){
    color:rgb(60,200,255);
}

main .container .con_head li:first-child{
    font-size:1.1rem;
    font-weight:bold;
}
#main_img{
    background-image:url(../image/icemaker.png);
    background-color:rgba(255,255,255,0.6);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:40vh;
    margin-bottom:2em;
}
.history_texture{
    position:absolute;
   display:flex;
    align-items: center;
    opacity: 0;
}
#arrow_img{
    height:100px;
}
#history1{
    top:10%;
}
#history2{
    top:30%;
}
#history3{
    top:50%;
}
#history4{
    top: 70%;
}

@media screen and (min-height : 1100px) {
    #arrow_img{
        height:700px !important;
    }
    #history1{
        opacity:1 !important;
    }
    #history1_line{
        width:20px !important;
    }
    #history2{
        opacity:1 !important;
    }
    #history2_line{
        width:20px !important;
    }
    #history3{
        opacity:1 !important;
    }
    #history3_line{
        width:20px !important;
    }
    #history4{
        opacity:1 !important;
    }
    #history4_line{
        width:20px !important;
    }
    #profile_img{
        opacity:1 !important;
    }
}